<div id="<%= dom_id spot %>">
  <p>
    <strong>Address:</strong>
    <%= spot.address %>
  </p>
  <p>
    <strong>Latitude:</strong>
    <%= spot.lat %>
  </p>
  <p>
    <strong>Longtitude:</strong>
    <%= spot.lng%>
  </p>
</div>
