<div id="<%= dom_id spot %>">
  <p>
    <strong>Address:</strong>
    <%= spot.address %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= spot.latitude %>
  </p>

  <p>
    <strong>Longtitude:</strong>
    <%= spot.longtitude %>
  </p>

</div>
