// Specific CSS for your home-page

.alert-settings {

  text-align: center;


}

.alert-settings h2 {
  margin-bottom: 15px;
}

.alert-item {
  margin-bottom: 10px;
}

.alert-item p {
  margin: 5px 0;
}
.bar-banner {
  text-align: center;
  margin-top: 50px;
  h2 {
      color: black;
      background: rgb(103, 211, 241);
      border-radius: 0.6rem;
      border: solid 3px black;
      width: fit-content;
      align-items: center;
      margin:auto;
        font-weight: 550;
        font-size: 30px;
        text-align: center;
        padding: 10px 40px;

    }
  p {
    font-size: 23px;
margin-top: 10px;
    }
  }





.button-group {
  text-align: right;
  margin-right: 10px;
  display: flex;
  justify-content: end;
  gap: 8px;
}
