
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Garbage Genius Dashboard Page</title>
</head>
<body>
  <div class="banner">
    <h1>Welcome to Garbage Genius</h1>
  </div>
  <div class="container">
    <div class="section">
      <h2>Who We Are</h2>
      <p>Garbage Genius is a notification service for those who wish to better plan for garbage collection days in their neighborhood.</p>
    </div>
    <div class="section">
      <h2>Why Sign Up?</h2>
      <p>Why stress over the details of coordinating and planning for garbage collection?</p>
      <p>Garbage Genius features:</p>
      <ul>
        <li>One-stop Dashboard that provides helpful details related to garbage collection</li>
        <li>Allows users to setup custom alerts</li>
      </ul>
      <p>Let Garbage Genius help you!</p>
      <p>Sign up today!</p>
    </div>
  </div>
  <div class="buttons">
    <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-flat" %>
    <%= link_to "Returning Users", new_user_session_path, class: "btn btn-flat" %>
  </div>
</body>
</html>
