<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= month_calendar(events: @spot_deets, attribute: :date) do |date, spot_deets| %>
  <%= date %>
  <% spot_deets.each do |spot_deet| %>
    <div class="spot_deet">
      <p><%= spot_deet.collection_type %></p>
    </div>
  <% end %>
<% end %>
