<div id="<%= dom_id spot_date %>">
  <p>
    <strong>Date:</strong>
    <%= spot_date.date %>
  </p>

  <p>
    <strong>Collection type:</strong>
    <%= spot_date.collection_type %>
  </p>

  <p>
    <strong>Spot:</strong>
    <%= spot_date.spot_id %>
  </p>

</div>
