.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

// .alert-item {

//   label {
//     font-size:20px;
// font-weight: 600;
//   }
//   input {
//     border-radius: 5px;
//     border: 2px solid;
//     padding: 5px;
//     font-size: 15px;
//   }
// }


.alert-box {
  border: 3px solid;
  padding: 35px 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
border-radius: 5px;
}


.alert-item-section {
  flex: 1; /* 各要素が均等に広がるように設定 */
  margin: 0 10px; /* 適切な間隔を設定 */
  label{
    font-weight: 700;
  }
}

.evening-alert input[type="time"],
.morning-alert input[type="time"] {
  width: 110px; /* 入力フィールドの幅を調整 */
}

#evening_appt,
#morning_appt {
  font-size: 20px;
  border-radius: 5px;
   border: 2px solid;
   padding: 5px;
}

.morning-alert,
.evening-alert {
  margin: 0;
}


.evening-alert p,
.morning-alert p {
  margin: 0; /* パラグラフの余白を削除 */
}

.alert-btn {
  border-radius: 5px;
  border: 2px solid black;
  background-color:#67D3F1 ;
  color: black;
  font-weight: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 5px;
  text-decoration: none;
  &:hover{
    color: white;
  }
}
