.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}
  // will need to fix alternating weeks

  .today { }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}

  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.week.current-week {
  td {
    border: 3px solid;
  }
}




.table-striped {
  thead {


    th {
      border: 3px solid;
    }
  }
}
