.navbar-lewagon {
  justify-content: space-between;
  background: #FBF6EF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.nav-text {

  font-weight: 700;
  color: #ED0E10;
  font-size: 35px;
}


.home-btn {
  text-decoration: none;
  color: black;
&:hover {
  color: grey;
}
}

.navbar {
  z-index: 2;
}
