.report-item {
  border: 3px solid;
  padding: 35px 50px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
border-radius: 5px;

input {
  border-radius: 5px;
 padding: 5px;
  border: 2px solid;
font-size: 15px;
margin-right: 8px;
}
}


#appt {
  font-size: 20px;
  border-radius: 5px;
   border: 2px solid;
   padding: 5px;
}

.report-collection {
  margin-top: 34px;
}
