.request {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,.5);


  .request-left {
    display: flex;
    align-items: center;
  }

}
.request-status {
  margin: 1px 4px;
  padding: 2px 5px 0px 5px;
  background-color: #5d5d5d;
  color: white;
  border-radius: 8px;
  font-weight: lighter;
    font-size: 12px;
  }

  .request-info {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
  }
    .request-info-title {
      font-weight: bolder;
      font-size: 1.2em;
    }

    .request-info-details {
      font-weight: lighter;
    }

    .request-contact {
      display: flex;
      flex-direction: column;
      margin-left: 8px;

      .request-contact-title {
        font-weight: bolder;
        font-size: 1.2em;
      }

      .request-contact-details {
        font-weight: lighter;
      }
    }

    .request-actions {
      display: flex;
      align-items: center;
  }
