<div id="<%= dom_id spot_visit %>">
  <p>
    <strong>Time:</strong>
    <%= spot_visit.time %>
  </p>

  <p>
    <strong>Spot date:</strong>
    <%= spot_visit.spot_date_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= spot_visit.user_id %>
  </p>

</div>
