<p style="color: green"><%= notice %></p>

<h1>Spot visits</h1>

<div id="spot_visits">
  <% @spot_visits.each do |spot_visit| %>
    <%= render spot_visit %>
    <p>
      <%= link_to "Show this spot visit", spot_visit %>
    </p>
  <% end %>
</div>

<%= link_to "New spot visit", new_spot_visit_path %>
